<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
    <div class="card mr-3 ml-3" th:if=${item}>
		<div class="card-body">
			
			<div class="container text-center">
				
				<img src="" style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/img/'+${item.item_image}}" alt="profile photo" />
				
				<h3 class="mt-3"><span  th:text="${item.item_name}"></span></h3>
				
				<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#ID</th>
					      <th scope="col">KSSUSER<span th:text="${item.item_id}"></span></th>
					      
					    </tr>
					  </thead>
					  <tbody>
						  
						<tr>
							
					      <th scope="row">Main Category</th>
					      <td><span th:text="${item.main_category}"></span></td>
					     
					    </tr>
					    
					    <tr>
							
					      <th scope="row">Sub Category</th>
					      <td><span th:text="${item.sub_category}"></span></td>
					     
					    </tr>
					    
					    
					    <tr>
							
					      <th scope="row">Contact Email</th>
					      <td><span th:text="${item.contact_email}"></span></td>
					     
					    </tr>
					    
					    
					     <tr>
							  
					      <th scope="row">Contact Number</th>
					      <td><span th:text="${item.contact_num}"></span></td>
					     
					    </tr>
					    
					     
					    
					  </tbody>
					</table>  
					  
				
					  <div class="description mt-3">
					  	
					  	
					  	<th:block th:utext="${item.item_desc}"></th:block>
					  
					  </div>
					  
					 <div class="container mt-3">
						 
					<button th:onclick="|deleteItem(${item.item_id})|" class="btn btn-danger btn-block">Delete</button>
					
					<form method="post" th:action="@{'/user/update-item/'+${item.item_id}}" class="mt-2">
						
					<button type="submit" class="btn btn-primary btn-block">Update</button>
					
					</form>
						 
					 </div>
					
				
			</div>
			
		</div>
	</div>
	
	<h1  class="text-center p-3 bg-danger text-white" th:unless="${item}">You don't have the permission to see this item...</h1>
	
	</section>
</body>
</html>